*,
*::after,
*::before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@import 'fonts';
@import 'index';

html{
  scroll-behavior: smooth;
}


$theme-colors:(
  'primary': #d29dc7,
  );
  



@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/buttons';
// @import 'bootstrap/bootstrap.scss';